* {
    box-sizing: border-box;
    margin: 0;
    pad: 0;
}

body > header {
    background-color: grey;
    padding: 16px 0;
    color: white;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
}

.conteiner {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0,255,0,0.1)
}

#sports .articles article a {
    background-color: rgba(0,255,0,0.8);
    color: #000 ;
}

#economy {
    background-color: yellow;
}

#economy .articles article a {
    background-color: orange;
}

#entertainment {
    background-color: rgb(61, 54, 189);
}

#entertainment .articles article a {
    background-color: rgb(226, 5, 145);
    color: black
}

#tecnology {
    background-color: antiquewhite;
}

#tecnology .articles article a {
    background-color: blueviolet;
    color: lightcoral
}